<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加分类</title>
</head>
<body>
    <form id="AddCategory" method="post" action="/addcategory">
        <input id="pid" name="pid" value="父级分类id" type="number"/>
        <input id="category_name" name="category_name" value="分类名" type="text"/>
        <input id="description" name="description" value="分类描述" type="text"/>
        <input id="sort" name="sort" value="排序" type="number"/>
        <input type="submit" value="添加">
    </form>
</body>
</html>